// Body
// $body-bg: #f8fafc;

// Header
$logo_height: 35px;
$header_height: 68px;
$logo_height_mobile: 30px;
$header_height_mobile: 56px;

// Typography
$font-family-sans-serif: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 1.5 !default;
$h2-font-size: $font-size-base * 1.35 !default;
$h3-font-size: $font-size-base * 1.225 !default;
$h4-font-size: $font-size-base * 1.1 !default;
$h5-font-size: $font-size-base * 1.05 !default;
$h6-font-size: $font-size-base !default;


// Color

$primary: #31b054;

$secondary: #4b83b4;

$link-color: #212529 !default;
$link-hover-color: transparentize(#31b054, 0.8) !default;

$btn-color: #fff;

$btn-hover-color: #fff;