.navbar {
  padding: 0;
  height: $header_height;

  .navbar-brand {
    .logo {
      height: $logo_height;
      width: auto;
    }
  }

  .navbar-nav {
    .nav-item {
      a {
        color: $secondary;
      }

      .nav-link {
        position: relative;
        padding: 17.5px 15px !important;

        &:before {
          content: "";
          position: absolute;
          background: $secondary;
          height: 3px;
          width: calc(100% - 30px);
          top: 80%;
          left: 15px;
          -ms-transform: scale(0);
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transition: .2s linear;
          -moz-transition: .2s linear;
          -ms-transition: .2s linear;
          -o-transition: .2s linear;
          transition: .2s linear;
        }
      }

      &.active {
        .nav-link {
          font-weight: bold;

          &:before {
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

      }

      &:hover {
        .nav-link {
          &:before {
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }

      &.dropdown {
        .dropdown-toggle {
          &:after {
            content: "\f107";
            font-family: Font Awesome\ 5 Pro;
            border: none;
            vertical-align: inherit;
          }
        }

        .dropdown-menu {
          .dropdown-item {
            padding: 10px 20px;
            border-bottom: 1px solid #eee;

            &:last-child {
              border: none;
            }

            &:hover {
              background: transparentize($secondary, 0.25);
              color: #fff;
            }
          }
        }

        &:hover {
          .dropdown-menu {
            display: block !important;
          }
        }
      }

    }

  }

  .navbar-mobile {
    .navbar-toggler {

      .bar1,
      .bar2,
      .bar3 {
        width: 25px;
        height: 2px;
        background-color: $secondary;
        margin: 6px 0;
        transition: 0.3s;
      }
    }

    &.opened {
      .navbar-toggler {

        .bar1 {
          transform-origin: right top;
          transform: translate(-4px, -0.5px) rotate(-45deg);
        }

        .bar2 {
          transform-origin: right bottom;
          transform: translate(-4px, 8.5px) rotate(45deg);

        }

        .bar3 {
          transform: translateY(10px);
          opacity: 0;
        }
      }
    }
  }
}

.navbar-mobile-menu {
  .holder-menu {
    z-index: 9999;
    background: rgba(151, 147, 179, 0.49);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: $header_height;
    left: 0;
  }

  .navbar-nav {
    position: fixed;
    top: $header_height;
    left: -70%;
    width: 70%;
    height: 100%;
    overflow-y: auto;
    z-index: 999999;
    padding-top: 10px;
    background: #fff;
    -webkit-transition: all, 0.3s;
    -khtml-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;


    .nav-item {
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $secondary;
      }

      .nav-link {
        padding-left: 20px;
        padding-right: 20px;

      }

      &.active {
        font-weight: bold;
      }

      &.dropdown {
        .nav-link {
          &:after {
            content: "\f105";
            font-family: Font Awesome\ 5 Pro;
            font-weight: 300;
            -webkit-transition: all, 0.25s;
            -khtml-transition: all, 0.25s;
            -moz-transition: all, 0.25s;
            -ms-transition: all, 0.25s;
            -o-transition: all, 0.25s;
            transition: all, 0.25s;
            position: absolute;
            right: 20px;
          }
        }

        .dropdown-menu {
          display: block !important;
          border: none;
          background: none;
          padding: 0 20px;
          max-height: 0;
          overflow: hidden;
          -webkit-transition: all, 0.5s;
          -khtml-transition: all, 0.5s;
          -moz-transition: all, 0.5s;
          -ms-transition: all, 0.5s;
          -o-transition: all, 0.5s;
          transition: all, 0.5s;

          .dropdown-item {
            &:last-child {
              margin-bottom: 5px;
            }
          }
        }

        &.expanded {
          .dropdown-menu {
            max-height: 500px;
          }

          .nav-link {
            &:after {
              -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }

      }
    }
  }

  &.opened {
    .holder-menu {
      display: block;
    }

    .navbar-nav {
      left: 0;
    }
  }
}

.navbar-collapse {
  @include media-breakpoint-down(lg) {
    flex-basis: inherit;
  }
}

#search-control {
  .search-input {
    position: absolute;
    top: $header_height;
    right: 0.75rem;
    width: 50%;

    @include media-breakpoint-down(lg) {
      position: inherit;
      width: inherit;
    }

    @include media-breakpoint-up(xl) {
      position: inherit;
      width: inherit;
    }

    @include media-breakpoint-down(md) {
      position: fixed;
      left: 1.5rem;
      width: calc(100% - 3rem);
    }
  }
}