#menu-bottom-mobile .fa-phone {
  animation: tada 1.2s infinite;
}

@-webkit-keyframes tada {
  0% {
    transform: scaleX(-1);
  }

  10%,
  20% {
    transform: scale3d(-.9, .9, .9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(-3deg);
  }

  100% {
    transform: scaleX(-1);
  }
}

@keyframes tada {
  0% {
    transform: scaleX(-1);
  }

  10%,
  20% {
    transform: scale3d(-.9, .9, .9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(-3deg);
  }

  100% {
    transform: scaleX(-1);
  }
}

/* Button menu Mobile Css */


.menu-mb ul,
.menu-mb li {
  list-style: none;
  padding: 0;
}

.menu-mb ul {
  padding-top: 0;
  padding-bottom: 0;
}

.sub_parent ul {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.sub_parent .sp .sub_parent.sub-opened .sp .sub_parent.sub-opened ul {
  height: auto;
}

.sub_parent li:last-child {
  border: none;
  padding-bottom: 3px;
}


/* End Button menu Mobile Css */

.modal-content img {
  max-width: 100% !important;
  max-height: auto !important;
}

.modal-content li {
  list-style: inherit;
}

.pagination {
  justify-content: center !important;
}

@media only screen and (max-width: 991px) {
  .banner-title {
    font-size: 1.6rem !important;
  }

  .banner-desc {
    font-size: 1.2rem !important;
  }

  .banner-note {
    font-size: 1.2rem !important;
  }

  footer {
    margin-bottom: 50px !important;
  }
}

@media only screen and (max-width: 767px) {

  #mainHeader .company-name,
  footer .company-name {
    font-size: clamp(0.1rem, 3.65vw, 1.25rem) !important;
  }

  #mobileHeader .company-name {
    font-size: clamp(0.1rem, 2.75vw, 0.9rem) !important;
  }

  #mobileHeader .logo {
    height: clamp(1px, 12vw, 60px) !important;
  }

  footer .copyright {
    text-align: center;
    font-size: clamp(0.2em, 3vw, 0.875em) !important;
  }

  .banner-title {
    font-size: 1.5rem !important;
    letter-spacing: inherit !important;
    margin-top: 15% !important;
  }

  .banner-desc {
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

  .banner-note {
    font-size: 1rem !important;
    font-weight: 500 !important;
  }
}

@media only screen and (max-width: 575px) {
  .section-title {
    font-size: 1.5rem !important;
  }
}

.navbar-topbar .nav-link {
  position: relative;
  transition: color 0.2s;
}

.navbar-topbar .nav-link:hover,
.navbar-topbar .nav-link:focus {
  text-decoration: none;
}

.navbar-topbar .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #bf2642;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

.navbar-topbar .nav-link:hover::after,
.navbar-topbar .nav-link:focus::after,
.navbar-topbar .nav-item.active .nav-link::after {
  width: 100%;
}

.navbar-main .nav-link {
  position: relative;
  transition: color 0.2s;
}

.navbar-main .nav-link:hover,
.navbar-main .nav-link:focus {
  text-decoration: none;
}

.navbar-main .nav-link::before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #bf2642;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

.navbar-main .nav-link:hover::before,
.navbar-main .nav-link:focus::before,
.navbar-main .nav-item.active .nav-link::before {
  width: 100%;
}

.navbar-nav .dropdown-toggle:after {
  content: "\f107";
  font-family: Font Awesome\ 5 Pro;
  font-weight: 300;
  border: none;
  vertical-align: inherit;
  margin-left: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .dropdown-search:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    right: 0;
    left: auto;
  }
}

.fixed-header {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 1050;
  background: #fff;
  transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.fixed-header.show {
  top: 0;
  animation: slideDown 0.8s cubic-bezier(0.8, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    top: -200px;
  }

  to {
    top: 0;
  }
}

.custom-submenu {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.custom-submenu.d-none {
  max-height: 0;
  opacity: 0;
}

.custom-submenu:not(.d-none) {
  max-height: 200px;
  /* Adjust as needed */
  opacity: 1;
}

.custom-toggle-link .fa-angle-down {
  transition: transform 0.3s ease-in-out;
}

.custom-detail-link .custom-underline {
  height: 1px;
  width: 60px;
  transition:
    width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.1s;
}

.custom-detail-link:hover,
.custom-detail-link:focus {
  color: #333333;
}

.custom-detail-link:hover .custom-underline,
.custom-detail-link:focus .custom-underline {
  width: 120px;
  height: 3px;
  background: #333333;
}

.custom-more-link .custom-underline {
  height: 1px;
  width: 40px;
  transition:
    width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.1s;
}

.custom-more-link:hover,
.custom-more-link:focus {
  color: #333333;
}

.custom-more-link:hover .custom-underline,
.custom-more-link:focus .custom-underline {
  width: 80px;
  height: 3px;
  background: #333333;
}

/* back to top */
a#to-top {
  height: 42px;
  width: 42px;
  position: fixed;
  font-size: 1rem;
  bottom: 56px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  color: transparent;
  border-radius: 10px;
  z-index: 1050;
  cursor: pointer;
}

a#to-top:hover {
  color: #888;
}

a#to-top.cd-is-visible,
a#to-top.cd-fade-out,
.no-touch a#to-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

a#to-top,
a.cd-top:visited,
a.cd-top:hover {
  color: #ccc;
  text-decoration: none;
}

a#to-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

a#to-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.offcanvas.offcanvas-start {
  width: 80vw;
  height: calc(100vh - 50px);
}

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  --bs-offcanvas-zindex: 1100;
}

.offcanvas-backdrop {
  z-index: 1060;
}