.logo img {
  padding: 4px 0;
}

#menu-bottom-mobile .fa-phone {
  animation: tada 1.2s infinite;
}

@-webkit-keyframes tada {
  0% {
    transform: scaleX(-1);
  }

  10%,
  20% {
    transform: scale3d(-.9, .9, .9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(-3deg);
  }

  100% {
    transform: scaleX(-1);
  }
}

@keyframes tada {
  0% {
    transform: scaleX(-1);
  }

  10%,
  20% {
    transform: scale3d(-.9, .9, .9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(-1.3, 1.3, 1.3) rotate(-3deg);
  }

  100% {
    transform: scaleX(-1);
  }
}

#main-slide-2 .item {
  text-align: center;
  cursor: pointer;
  display: table;
  height: 46px;
  width: 98%;
  padding: 0 1%;
}

#main-slide-2 .item span {
  font-size: 13px;
  line-height: 1.3em;
  vertical-align: middle;
  display: table-cell;

}

.home-promo {
  padding: 1em;
}

.product-item.khachhang {
  margin: 1em;
  border: 1px solid #eee;
}


.home-cat .product-item {
  position: relative;
  overflow: hidden;

}

.product-item img {
  /*width: 80%;*/
  /*margin: 0.5em auto 1.5em auto;*/
  display: block;
}

.home-cat .product-item.feature {
  width: auto;
}

.home-cat .product-item.empty-item {
  padding: 0;
}

.home-cat .product-item.feature img {
  margin-top: 0;
}

#product .picture {
  width: 85%;
  margin: 1em auto;
  display: block;
}

#product .product-title {
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}

#product .product-price {
  font-weight: bold;
  color: #bf081f;
}

#product .product-price h1 {
  font-size: 1.8rem;
}

#product-content {
  padding: 1rem;
  border: 1px solid #dee2e6 !important;
}

#product-content img {
  max-width: 100% !important;
}

.buy-now {
  font-size: 12px;
}

.buy-now span {
  font-size: 1rem;
}

.promotion i {
  color: #ca0921;
}

.policy i {
  width: 1.25em !important;
  height: 1.25em !important;
  color: #1435c3;
}

.policy p {
  line-height: 1.8em !important;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.policy p span {
  margin-left: 8px;
}

.product-slide {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#product-slide-1 {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}

#product-slide-1 img {
  width: initial !important;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  margin: auto auto;
  padding: 2em;
  background-color: #fff;
}

#product-slide-2 .owl-item {
  width: 120px !important;
  padding: 1em;
}

#product-slide-2 img {
  height: auto !important;
  width: 100px !important;
}

#product-slide-2 .owl-item.show {
  border: 1px solid #007bff !important;
}

.product-slide .owl-controls .custom-nav .owl-prev {
  left: 20px;
}

.product-slide .owl-controls .custom-nav .owl-next {
  right: 20px;
}

.product-slide {
  opacity: 0;
  z-index: -1;
}

.product-slide.show {
  opacity: 1;
  z-index: 999999;
}

.product-slide .close i {
  height: 1.2em;
  width: auto;
  color: #fff;
  cursor: pointer;
}

.product-info {
  background-color: #fff;
}

.home_service,
.home_service .service-item {
  overflow: hidden;
}

.home_service .service-item img {
  width: 100%;
  max-width: 180px;
  z-index: 1;
}

.home_service .service-item .more {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  padding: 15px;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.home_service .service-item .name {
  z-index: 3;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.home_service .service-item a:before {
  content: " ";
  background: #005bae;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.home_service .service-item:hover a:before {
  opacity: 0.8;
  top: 0;
}

.home_service .service-item:hover .more {
  top: 15px;
  opacity: 1;
  color: #ffffff;
}

.home_service .service-item:hover .name {
  display: block;
  color: #ffffff;
  position: relative;
}

.pages .home_service .service-item {
  border: none !important;
}

.pages .home_service .service-item:after {
  content: " ";
  background: #dedede;
  height: 1px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: calc(100% - 1px);
  left: 0;
}

.pages .home_service .service-item:last-child:after {
  display: none;
}

.pages .home_service .service-item:hover a:before {
  opacity: 0;
  top: inherit;
}


/* Start css header */
.menu_main {
  display: inline-block;
  float: left;
  width: 66.6666666667%;
}

.menu-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.anchor {
  display: block;
  height: 150px;
  /*same height as header*/
  margin-top: -150px;
  /*same height as header*/
  visibility: hidden;
}

/* End css header */

/* Start css footer */
.footer .icons {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

/* End css footer */

/* Button menu Mobile Css */


.menu-mb ul,
.menu-mb li {
  list-style: none;
  padding: 0;
}

.menu-mb ul {
  padding-top: 0;
  padding-bottom: 0;
}

.sub_parent ul {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.sub_parent .sp .sub_parent.sub-opened .sp .sub_parent.sub-opened ul {
  height: auto;
}

.sub_parent li:last-child {
  border: none;
  padding-bottom: 3px;
}


/* End Button menu Mobile Css */

.modal-content img {
  max-width: 100% !important;
  max-height: auto !important;
}

.modal-content li {
  list-style: inherit;
}

.pagination {
  justify-content: center !important;
}

@media only screen and (max-width: 991px) {
  .banner-title {
    font-size: 1.6rem !important;
  }

  .banner-desc {
    font-size: 1.2rem !important;
  }

  .banner-note {
    font-size: 1.2rem !important;
  }

  #about-component .description {
    font-size: 1rem !important;
    font-weight: inherit !important;
  }

  #training-component .title {
    font-size: 1rem !important;
  }

  #training-component .description {
    font-size: 1rem !important;
    font-weight: inherit !important;
  }

  footer {
    margin-bottom: 50px !important;
  }
}

@media only screen and (max-width: 767px) {
  .anchor {
    display: block;
    height: 55px;
    /*same height as header*/
    margin-top: -55px;
    /*same height as header*/
    visibility: hidden;
  }

  #call-fixed .phonering-alo-phone {
    left: 1rem;
    bottom: 2rem;
  }

  .banner-title {
    font-size: 1.5rem !important;
    letter-spacing: inherit !important;
    margin-top: 15% !important;
  }

  .banner-desc {
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

  .banner-note {
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

  .banner-img {
    height: 100% !important;
  }

  .banner-img img {
    height: 85% !important;
  }
}

.navbar-topbar .nav-link {
  position: relative;
  transition: color 0.2s;
}

.navbar-topbar .nav-link:hover,
.navbar-topbar .nav-link:focus {
  text-decoration: none;
}

.navbar-topbar .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #bf2642;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

.navbar-topbar .nav-link:hover::after,
.navbar-topbar .nav-link:focus::after,
.navbar-topbar .nav-item.active .nav-link::after {
  width: 100%;
}

.navbar-main .nav-link {
  position: relative;
  transition: color 0.2s;
}

.navbar-main .nav-link:hover,
.navbar-main .nav-link:focus {
  text-decoration: none;
}

.navbar-main .nav-link::before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #bf2642;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

.navbar-main .nav-link:hover::before,
.navbar-main .nav-link:focus::before,
.navbar-main .nav-item.active .nav-link::before {
  width: 100%;
}

.navbar-nav .dropdown-toggle:after {
  content: "\f107";
  font-family: Font Awesome\ 5 Pro;
  font-weight: 300;
  border: none;
  vertical-align: inherit;
  margin-left: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .dropdown-search:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    right: 0;
    left: auto;
  }
}

.fixed-header {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 1050;
  background: #fff;
  transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.fixed-header.show {
  top: 0;
  animation: slideDown 0.8s cubic-bezier(0.8, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    top: -200px;
  }

  to {
    top: 0;
  }
}

.custom-submenu {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.custom-submenu.d-none {
  max-height: 0;
  opacity: 0;
}

.custom-submenu:not(.d-none) {
  max-height: 200px;
  /* Adjust as needed */
  opacity: 1;
}

.custom-toggle-link .fa-angle-down {
  transition: transform 0.3s ease-in-out;
}

.custom-detail-link .custom-underline {
  height: 1px;
  width: 60px;
  transition:
    width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.1s;
}

.custom-detail-link:hover,
.custom-detail-link:focus {
  color: #333333;
}

.custom-detail-link:hover .custom-underline,
.custom-detail-link:focus .custom-underline {
  width: 120px;
  height: 3px;
  background: #333333;
}

.custom-more-link .custom-underline {
  height: 1px;
  width: 40px;
  transition:
    width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.1s;
}

.custom-more-link:hover,
.custom-more-link:focus {
  color: #333333;
}

.custom-more-link:hover .custom-underline,
.custom-more-link:focus .custom-underline {
  width: 80px;
  height: 3px;
  background: #333333;
}

/* back to top */
a#to-top {
  height: 42px;
  width: 42px;
  position: fixed;
  font-size: 1rem;
  bottom: 80px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  color: transparent;
  border-radius: 10px;
  z-index: 1050;
  cursor: pointer;
}

a#to-top:hover {
  color: #888;
}

a#to-top.cd-is-visible,
a#to-top.cd-fade-out,
.no-touch a#to-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

a#to-top,
a.cd-top:visited,
a.cd-top:hover {
  color: #ccc;
  text-decoration: none;
}

a#to-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

a#to-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.offcanvas.offcanvas-start {
  width: 80vw;
  height: calc(100vh - 50px);
}

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  --bs-offcanvas-zindex: 1100;
}

.offcanvas-backdrop {
  z-index: 1060;
}